html{
    box-sizing: border-box;
}



body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  
}

*,
*:after,
*:before {
    text-decoration: none;
  margin: 0;
box-sizing: inherit;
}


.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}



/*animated*/
.animated-text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
  background-size: 200%;
  padding: 0 200px;
  height: 200px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s linear;
  border-radius: 20px;
  font-family: 'Faster One', cursive;
}
.animated-line {
  text-transform: uppercase;
  text-align: center;
  font-size: 140px;
  line-height: 230px;
  user-select: none;
}
.animated-line:first-child {
  animation: anim 12s infinite;
}
@keyframes anim {
  0% {
    margin-top: 0;
  }
  16% {
    margin-top: -230px;
  }
  33% {
    margin-top: -460px;
  }
  50% {
    margin-top: -690px;
  }
  66% {
    margin-top: -460px;
  }
  82% {
    margin-top: -230px;
  }
  100% {
    margin-top: 0;
  }
}
/*header*/
.header{
    width: 100%;
    height: 937px;
     background: url("../img/giphy1.gif");
      background-size: cover;
}



/*section*/
.section1 {
    background: linear-gradient(to bottom,#03375a,rgba(70,31,23,.5)),url(../img/L1.jpg);
    background-size: cover;
    background-attachment: fixed;
    word-wrap: break-word;
    width: 100%;
    min-height: 940px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.section2{
    background-color: #36096d;
    background: linear-gradient(to bottom,rgba(7, 66, 14, 0.8),rgba(70,31,23,.5)), url(../img/L2.jpg);
    
    background-size: cover;
    background-attachment: fixed;
    word-wrap: break-word;
    width: 100%;
    min-height: 940px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.section3{
    background-color: #7f5a83;
    background: linear-gradient(to bottom,rgba(23, 56, 27, 0.75),rgba(70,31,23,.5)), url(../img/L3.jpg);

    background-size: cover;
    background-attachment: fixed;
    word-wrap: break-word;
    width: 100%;
    min-height: 940px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*about*/

.about{
    width: 100%;
    text-align: center;
}

.about__title{
    display: inline-block;
    width: 100%;
    font-size: 50px;
    margin-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    text-align: center;
    
    
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 100% 4px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
    
    
}



.about__blocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.about__item{
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 200%;
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin: 15px;
    user-select: none;
    transition: .3s linear;

}

.about__item:hover{
    bottom: 20px;
    background-position: right;
     transform: scale(1.2);
}

.about__me p{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



/*nav*/
.nav {
  width: 100%;
  text-align: center;
  padding: 4.2rem 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
    text-transform: uppercase;
}
.nav a:hover {
  color: #333;
}

/*btn*/
.btn {
    display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  justify-content: space-between;
  text-decoration: none;
    
  padding: 0 1.4rem;
  
  color: #ffffff;
    
  border: none;
  cursor: pointer;
  outline: none;
  
}


.btn__text{
    background: linear-gradient(120deg, #3498db, #8e44ad);
    background-size: 200%;
  -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    transition: .3s linear;
}


/*3d card*/



.middle{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.card{
    cursor: pointer;
    width: 340px;
    height: 480px;
}

.front__card, back__card{
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform .6s linear;
}

.front__card img{
    height: 100%;
    
}
.front__card{
    transform: perspective(600px) rotateY(0deg);
}

.back__card{
    
    height: 100%;
    transform: perspective(600px) rotateY(180deg);
}

.back__content{
    display: none;
    width: 340px;
    height: 480px;
    background: white;
    color: #2c3e50;
    text-align: center;
    width: 100%;
    top: 50%;
}

.social{
    display: none;
    top: 50%;
    margin: 20px 0;
}

.social a{
    
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    border-radius: 40px;
    transition: .4s;
}

.social a:hover{
    
    background: #2c3e50;
    color: white;
}
.back__card:hover .social{
    display: block;
    background: white;
    display: block;
}

.card:hover > .front__card{
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back__card{ 
    display: block;
    transform: perspective(600px) rotateY(0deg);
}







/*mdeia*/
@media (max-width: 1230px){
    .animated-text{
        padding: 0 100px;
    }
}

@media (max-width: 990px){
    
    .animated-line{
        font-size: 100px;
    }
}

@media (max-width: 770px){
    .animated-line{
        font-size: 65px;
    }
    
}

/*mobile*/
@media (max-width: 575px){
    
    .animated-text{
        padding: 0 70px;
    }
    
    .about__item{
        width: 150px;
        height: 150px;
    }
    
    .animated-line{
        font-size: 50px;
    }
    
    .btn{
        padding: 0 1rem;
    }
}

@media (max-width: 430px){
    
    .about__item{
        width: 130px;
        height: 130px;
    }
    
    .animated-text{
        padding: 0 40px;
    }
    .animated-line{
        font-size: 38px;
    }
    
}